<footer>
    <p>&copy; 2025 <%= site.title %> - Created by <%= site.author %></p>
    <p>Total users in system: <%= typeof users !== 'undefined' ? users.length : 'N/A' %></p>
</footer>
</body>
</html>